{% extends 'base.html' %}

{% block title %}DEFAULT_OBJECT_DETAIL_TITLE{% endblock %}
{% block content %}
    {# Row n°1: Page title #}
    <div class="sixteen wide column" style="text-align: center">
        <h2 class="ui icon header">
            {% block od_title %}DEFAULT_OBJECT_DETAIL_TITLE{% endblock %}
            <i class="users icon"></i>
            <div class="content">
                Classe &laquo; {{ classroom.class_name }} &raquo;
                <div class="sub header">Voir et mettre à jour les détails d'une classe spécifique.</div>
            </div>
        </h2>
    </div>
{% endblock %}