{% extends "base.html" %}

{% block title %}accueil{% endblock %}

{% block content %}

    {# Main statistics #}
    <div class="three column row">
        <div class="column">
            <div class="ui fluid card">
                <div class="content">
                    <div class="ui right floated header red">
                        <i class="icon clipboard"></i>
                    </div>
                    <div class="header">
                        <div class="ui red header">{{ statistics.academic_grades }}</div>
                    </div>
                    <div class="meta">formations</div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui fluid card">
                <div class="content">
                    <div class="ui right floated header red">
                        <i class="icon child"></i>
                    </div>
                    <div class="header">
                        <div class="ui red header">{{ statistics.students }}</div>
                    </div>
                    <div class="meta">étudiants</div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui fluid card">
                <div class="content">
                    <div class="ui right floated header red">
                        <i class="icon male"></i>
                    </div>
                    <div class="header">
                        <div class="ui red header">{{ statistics.teachers }}</div>
                    </div>
                    <div class="meta">enseignants</div>
                </div>
            </div>
        </div>
    </div>

    <div class="sixteen wide column">
        <h3 class="ui header dividing">Liste des formations</h3>
    </div>

    <div class="sixteen wide column">
        <div class="ui middle aligned relaxed list">
            {% for academic_grade in academics_grades %}
                <div class="item">
                    <i class="angle right icon"></i>
                    <div class="content">
                        <div class="description">
                            <b>Formation : </b>
                            <a href="{% url 'highschool:academic-grade-detail' academic_grade.id %}">{{ academic_grade }}</a>
                        </div>
                        <div class="list">
                            <div class="item">
                                <i class="angle right icon"></i>
                                <div class="content">
                                    <div class="description">
                                        {% if academic_grade.classroom_set.count >= 1 %}
                                            {{ academic_grade.classroom_set.count }} classe{% if academic_grade.classroom_set.count > 1 %}s{% endif %}
                                        {% else %}
                                            Aucune classe
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

