<form action="" method="post">
    {% csrf_token %}

    {{ formset.errors }}


    {% for form in formset.forms %}
        {{ form.student.initial }} {{ form.as_ul }}
        <br><br>
    {% endfor %}

    <br>
    <input type="submit" value="Confirm">
</form>
