<div class="row">
    <div class="sixteen wide column" style="text-align: center">
        <div class="ui pagination menu">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" class="icon item">
                    <i class="left chevron icon"></i>
                </a>
            {% else %}
                <div class="icon item disabled">
                    <i class="left chevron icon"></i>
                </div>
            {% endif %}

            {% if page_obj.number|add:'-4' > 1 %}
                <a href="?page={{ page_obj.number|add:'-5' }}" class="item">&hellip;</a>
            {% endif %}

            {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                    <div class="item active">
                        <span>{{ i }}</span>
                    </div>
                {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
                    <a href="?page={{ i }}" class="item">{{ i }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
                <a href="?page={{ page_obj.number|add:'5' }}" class="item">&hellip;</a>
            {% endif %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="icon item">
                    <i class="right chevron icon"></i>
                </a>
            {% else %}
                <div class="icon item disabled">
                    <i class="right chevron icon"></i>
                </div>
            {% endif %}
        </div>
    </div>
</div>