{% extends "base.html" %}

{% block title %}{{ student }}{% endblock %}

{% block content %}

    {# Page title #}
    <div class="sixteen wide column">
        <h2 class="ui icon header d-block">
            <i class="child icon"></i>
            <div class="content">
                Etudiant &laquo; {{ student.user.first_name }} {{ student.user.last_name|upper }} &raquo;
                <div class="sub header">Visualiser et gérer un étudiant spécifique.</div>
            </div>
        </h2>
    </div>

    <div class="sixteen wide column">
        <h3 class="ui header dividing">Informations</h3>
    </div>

    {# Actions #}
    <div class="eight wide computer sixteen wide mobile column">
        <a href="{% url 'highschool:student-update' student.id %}" class="ui labeled icon button d-block">
            <i class="edit icon"></i>
            Mettre à jour
        </a>
    </div>
    <div class="eight wide computer sixteen wide mobile column">
        <a href="{% url 'highschool:student-delete' student.id %}" class="ui labeled icon negative button d-block">
            <i class="trash icon"></i>
            Supprimer
        </a>
    </div>

    {# Student informations #}
    <div class="sixteen wide column">
        <div class="ui middle aligned relaxed list">
            <div class="item">
                <i class="angle right icon"></i>
                <div class="content">
                    <div class="description">
                        <b>Nom d'utilisateur : </b> {{ student.user.username }}
                    </div>
                </div>
            </div>
            <div class="item">
                <i class="angle right icon"></i>
                <div class="content">
                    <div class="description">
                        <b>Date de naissance : </b> {{ student.birth_date }}
                    </div>
                </div>
            </div>
            <div class="item">
                <i class="angle right icon"></i>
                <div class="content">
                    <div class="description">
                        <b>Téléphone : </b> <a href="tel:{{ student.phone }}">{{ student.phone }}</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <i class="angle right icon"></i>
                <div class="content">
                    <div class="description">
                        <b>Adresse mail : </b> <a href="mailto:{{ student.user.email }}">{{ student.user.email }}</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <i class="angle right icon"></i>
                <div class="content">
                    <div class="description">
                        <b>Groupe(s) : </b>
                        {% if student.user.groups.count > 0 %}
                            {% for group in student.user.groups.all %}
                                <a href="{% url 'highschool:group-detail' group.id %}">{{ group }}</a> {% if forloop.counter != student.user.groups.count %}/{% endif %}
                            {% endfor %}
                        {% else %}
                            Aucun
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# Student class history #}
    <div class="sixteen wide column">
        <h3 class="ui header dividing">Historique scolaire</h3>
    </div>

    <div class="sixteen wide column">
        <div class="ui middle aligned relaxed list">
            <div class="item">
                <i class="angle right icon"></i>
                <div class="content">
                    <div class="description">
                        <b>Nombre d'absences : </b> {{ student.absences|length }}
                    </div>
                </div>
            </div>
    </div>
{% endblock %}