{% extends "base.html" %}

{% block title %}Etudiant - Tous{% endblock %}

{% block content %}

    {# Page title #}
    <div class="sixteen wide column">
        <h2 class="ui icon header d-block">
            <i class="child icon"></i>
            <div class="content">
                Gestion des étudiants
                <div class="sub header">Visualiser et gérer les étudiants de l'établissement.</div>
            </div>
        </h2>
    </div>

    {# Actions #}
    <div class="sixteen wide column">
        <a href="{% url 'highschool:student-create' %}" class="ui labeled icon button d-block blue">
            <i class="plus icon"></i>
            Créer un étudiant
        </a>
    </div>

    {# List of all students #}
    {% if student_list.count > 0 %}
        <div class="sixteen wide column">
            <table class="ui sortable compact tablet stackable celled striped single line table">
                <thead>
                    <tr>
                        <th style="width: 100%">Nom</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in student_list %}
                        <tr>
                            <td>
                                <a href="{% url 'highschool:student-detail' student.id %}">
                                    <i class="icon {% if student.genre == 0 %}genderless{% elif student.genre == 1 %}mars{% else %}venus{% endif %}"></i>
                                    {{ student.user.first_name }} {{ student.user.last_name|upper }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include 'highschool/misc/pagination.html' with page_obj=page_obj %}
        </div>
    {% else %}
        <div class="sixteen wide column">
            <div class="ui icon warning message">
                <i class="exclamation triangle icon"></i>
                <div class="content">
                    <div class="header">Aucun étudiant existant !</div>
                    <p>Commencez par créer des étudiants.</p>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}