{% extends 'base.html' %}

{% block title %}Suppression du groupe &laquo; {{ group.name }} &raquo;{% endblock %}

{% block content %}

    {# Page title #}
    <div class="sixteen wide column">
        <h2 class="ui icon header d-block">
            <i class="check icon"></i>
            <div class="content">
                Suppression du groupe &laquo; {{ group.name }} &raquo;
                <div class="sub header">Supprimer définitivement un groupe spécifique.</div>
            </div>
        </h2>
    </div>

    {# Warning #}
    <div class="sixteen wide column">
        <div class="ui icon warning message">
            <i class="exclamation triangle icon"></i>
            <div class="content">
                <div class="header">
                    Vous allez supprimer un groupe, la suppression de ce groupe implique :
                </div>
                <div class="ui list">
                    <div class="item">
                        <i class="check green icon"></i>
                        <div class="content">
                            La suppression <b>définitive et irréversible</b> du groupe
                        </div>
                    </div>
                    <div class="item">
                        <i class="check green icon"></i>
                        <div class="content">
                            Le <b>retrait du groupe</b> sur tous les utilisateurs concernés
                        </div>
                    </div>
                    <div class="item">
                        <i class="check green icon"></i>
                        <div class="content">
                            Des <b>risques de mauvais fonctionnement</b> de l'application pour les utilisateurs concernés
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# Form #}
    <div class="sixteen wide column">
        <form method="post" class="ui form">
            {% csrf_token %}
            <div class="ui buttons w-100">
                <a href="{% url 'highschool:group-detail' group.id %}" class="ui button">Annuler</a>
                <div class="or" data-text="ou"></div>
                <input type="submit" value="Supprimer" class="ui negative button">
            </div>
        </form>
    </div>

{% endblock %}