{% extends 'base.html' %}

{% block title %}Détails du groupe &laquo; {{ group }} &raquo;{% endblock %}

{% block content %}

    {# Page title #}
    <div class="sixteen wide column">
        <h2 class="ui icon header d-block">
            <i class="check icon"></i>
            <div class="content">
                Groupe &laquo; {{ group.name }} &raquo;
                <div class="sub header">Visualiser et gérer un groupe spécifique.</div>
            </div>
        </h2>
    </div>

    <div class="sixteen wide column">
        <h3 class="ui header dividing">Informations</h3>
    </div>

    {# Actions #}
    <div class="eight wide computer sixteen wide mobile column">
        <a href="{% url 'highschool:group-update' group.id %}" class="ui labeled icon button d-block">
            <i class="edit icon"></i>
            Mettre à jour
        </a>
    </div>
    <div class="eight wide computer sixteen wide mobile column">
        <a href="{% url 'highschool:group-delete' group.id %}" class="ui labeled icon negative button d-block">
            <i class="trash icon"></i>
            Supprimer
        </a>
    </div>

    {# Group informations #}
    <div class="sixteen wide column">
        <div class="ui middle aligned relaxed list">
            <div class="item">
                <i class="angle right icon"></i>
                <div class="content">
                    <div class="description">
                        <b>Nom du groupe : </b> {{ group.name }}
                    </div>
                </div>
            </div>
            <div class="item">
                <i class="angle right icon"></i>
                <div class="content">
                    <div class="description">
                        <b>Permissions accordée(s) : </b>
                    </div>
                    <div class="list">
                        {% for permission in group.permissions.all %}
                            <div class="item">
                                <i class="green check icon"></i>
                                <div class="content">
                                    <div class="description">{{ permission.name }}</div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}