{% extends 'base.html' %}

{% block title %}Créer un nouveau groupe{% endblock %}

{% block content %}

    {# Page title #}
    <div class="sixteen wide column">
        <h2 class="ui icon header d-block">
            <i class="check icon"></i>
            <div class="content">
                {% if cs_form_type == "create" %}Création{% else %}Mise à jour{% endif %}  d'un groupe
                <div class="sub header">
                    {% if cs_form_type == "create" %}
                        Créer un nouveau groupe.
                    {% else %}
                        Mettre à jour un groupe.
                    {% endif %}
                </div>
            </div>
        </h2>
    </div>

    {# Form #}
    <div class="sixteen wide column">
        <form action="" class="ui form" method="post">
            {% csrf_token %}

            {# Field: Groupe name #}
            <div class="field {% if form.name.errors %}error{% endif %}">
                <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                {{ form.name }}
                <small class="helper">{{ form.name.help_text }}</small>
                <div class="ui icon {% if form.name.errors %}visible{% endif %} error message">
                    <i class="life ring outline icon"></i>
                    <div class="content">
                        <div class="header">Vérifiez les clauses suivantes:</div>
                        <div class="ui list">
                            {% for error in form.name.errors %}
                                <div class="item">
                                    <i class="green check icon"></i>
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            {# Field: User permissions #}
            <div class="field {% if form.permissions.errors %}error{% endif %}">
                <label for="{{ form.permissions.id_for_label }}">{{ form.permissions.label }}</label>
                <select class="ui fluid search dropdown" multiple name="{{ form.permissions.html_name }}" id="{{ form.permissions.id_for_label }}">
                    {% for value, label in form.permissions.field.choices %}
                        <option value="{{ value }}" {% if value in selected.permission_ids %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
                <small class="helper">{{ form.permissions.help_text }}</small>
                <div class="ui icon {% if form.permissions.errors %}visible{% endif %} error message">
                    <i class="life ring outline icon"></i>
                    <div class="content">
                        <div class="header">Vérifiez les clauses suivantes:</div>
                        <div class="ui list">
                            {% for error in form.permissions.errors %}
                                <div class="item">
                                    <i class="green check icon"></i>
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            {# Form non-field errors #}
            {% if form.non_field_errors %}
                <div class="ui icon visible error message">
                    <i class="life ring outline icon"></i>
                    <div class="content">
                        <div class="header">Vérifiez les clauses suivantes:</div>
                        <div class="ui list">
                            {% for error in form.non_field_errors %}
                                <div class="item">
                                    <i class="green check icon"></i>
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}

            {# Field: Validation #}
            <div style="text-align: right">
                <div class="ui buttons w-100">
                    {% if cs_form_type == "create" %}
                        <a href="{% url 'highschool:group-list' %}" class="ui button">Annuler</a>
                    {% else %}
                        <a href="{% url 'highschool:group-detail' group.id %}" class="ui button">Annuler</a>
                    {% endif %}
                    <div class="or" data-text="ou"></div>
                    <input class="ui positive button" type="submit" value="{% if cs_form_type == "create" %}Créer{% else %}Mettre à jour{% endif %}">
                </div>
            </div>

        </form>
    </div>
{% endblock %}