{% extends "base.html" %}

{% block title %}Groupes & permissions{% endblock %}

{% block page-script %}
    <script type="text/javascript">
        $(document).ready(function () {
           $('table').tablesort();
        });
    </script>
{% endblock %}

{% block content %}

    {# Page title #}
    <div class="sixteen wide column">
        <h2 class="ui icon header d-block">
            <i class="check icon"></i>
            <div class="content">
                Gestion des groupes
                <div class="sub header">Visualiser et gérer les groupes de l'établissement.</div>
            </div>
        </h2>
    </div>

    {# Actions #}
    <div class="sixteen wide column">
        <a href="{% url 'highschool:group-create' %}" class="ui labeled icon button d-block blue">
            <i class="plus icon"></i>
            Créer un groupe
        </a>
    </div>

    {# List of all groups #}
    {% if group_list.count > 0 %}
        <div class="sixteen wide column">
            <table class="ui sortable compact tablet stackable celled striped single line table">
                <thead>
                    <tr>
                        <th>Nom du groupe</th>
                        <th width="100%">Liste des permissions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for group in group_list %}
                         <tr>
                            <td>
                                <a href="{% url 'highschool:group-detail' group.id %}">{{ group.name }}</a>
                            </td>
                            <td>
                                <div class="ui styled fluid accordion">
                                    <div class="title">
                                        <i class="dropdown icon"></i>
                                        {{ group.permissions.all.count }} permissions
                                    </div>
                                    <div class="content">
                                        <div class="ui list">
                                            {% for permission in group.permissions.all %}
                                                <div class="item" style="white-space: initial">
                                                    <i class="check icon green"></i>
                                                    {{ permission.name }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </td>
                         </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include 'highschool/misc/pagination.html' with page_obj=page_obj %}
        </div>
    {% else %}
        <div class="sixteen wide column">
            <div class="ui icon warning message">
                <i class="exclamation triangle icon"></i>
                <div class="content">
                    <div class="header">Aucun groupe existant !</div>
                    <p>Commencez par créer des groupes.</p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}