{% extends 'base.html' %}

{% block title %}Suppression de la classe &laquo; {{ classroom.class_name }} &raquo;{% endblock %}

{% block content %}
    <div class="row">
        <div class="column">
            <h1 class="ui header dividing">
                <div class="content">
                    Suppression de la classe &laquo; {{ classroom.class_name }} &raquo;
                    <div class="sub header">Supprimer une classe et ses dépendances</div>
                </div>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <div class="ui icon warning message">
                <i class="exclamation triangle icon"></i>
                <div class="content">
                    <div class="header">
                        Vous allez supprimer une classe, la suppression de cette classe implique :
                    </div>
                    <div class="ui list">
                        <div class="item">
                            <i class="check green icon"></i>
                            <div class="content">
                                La suppression <b>définitive et irréversible</b> de la classe
                            </div>
                        </div>
                        <div class="item">
                            <i class="check green icon"></i>
                            <div class="content">
                                La suppression <b>de l'historique de la classe (élèves, notes, etc.)</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <form method="post" class="ui form right aligned basic segment">
                {% csrf_token %}
                <div class="ui buttons">
                    <a href="{% url 'highschool:classroom-detail' classroom.id %}" class="ui button">Annuler</a>
                    <div class="or" data-text="ou"></div>
                    <input type="submit" value="Confirmer" class="ui negative button">
                </div>
            </form>
        </div>
    </div>
{% endblock %}