{% extends 'base.html' %}

{% block title %}Classe &laquo; {{ classroom }} &raquo;{% endblock %}


{% block content %}
    {# Page title #}
    <div class="sixteen wide column">
        <h2 class="ui icon header d-block">
            <i class="users icon"></i>
            <div class="content">
                Classe &laquo; {{ classroom }} &raquo;
                <div class="sub header">Visualiser et gérer une classe spécifique.</div>
            </div>
        </h2>
    </div>

    <div class="sixteen wide column">
        <h3 class="ui header dividing">Informations</h3>
    </div>

    {# Actions #}
    <div class="eight wide computer sixteen wide mobile column">
        <a href="{% url 'highschool:classroom-update' classroom.id %}" class="ui labeled icon button d-block">
            <i class="edit icon"></i>
            Mettre à jour
        </a>
    </div>
    <div class="eight wide computer sixteen wide mobile column">
        <a href="{% url 'highschool:classroom-delete' classroom.id %}" class="ui labeled icon negative button d-block">
            <i class="trash icon"></i>
            Supprimer
        </a>
    </div>

    {# Classroom informations #}
    <div class="sixteen wide column">
        <div class="ui middle aligned relaxed list">
            <div class="item">
                <i class="angle right icon"></i>
                <div class="content">
                    <div class="description">
                        <b>Nom de la classe : </b>{{ classroom.class_name }}
                    </div>
                </div>
            </div>
            <div class="item">
                <i class="angle right icon"></i>
                <div class="content">
                    <div class="description">
                        <b>Formation : </b>{{ classroom.academic_grade }}
                    </div>
                </div>
            </div>
            <div class="item">
                <i class="angle right icon"></i>
                <div class="content">
                    <div class="description">
                        <b>Dates de la classe : </b>{{ classroom.start_at|date:"Y" }} - {{ classroom.end_at|date:"Y" }}
                    </div>
                </div>
            </div>
            <div class="item">
                <i class="angle right icon"></i>
                <div class="content">
                    <div class="description">
                        <b>Nombre d'étudiant(s) : </b>{{ classroom.students.count }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sixteen wide column">
        <h3 class="ui header dividing">Liste des professeurs & matières</h3>
    </div>

    {# Actions #}
    <div class="eight wide computer sixteen wide mobile column">
        <a href="{% url 'highschool:classroom-planning' class_id=classroom.id %}" class="ui labeled icon button blue d-block {% if classroom.teachers.count <= 0 %}disabled{% endif %}">
            <i class="calendar alternate outline icon"></i>
            Voir l'emploi du temps
        </a>
    </div>
    <div class="eight wide computer sixteen wide mobile column">
        <a href="{% url 'highschool:classroom-lesson-list' class_id=classroom.id %}" class="ui labeled icon button blue d-block {% if classroom.teachers.count <= 0 %}disabled{% endif %}">
            <i class="calendar alternate outline icon"></i>
            Gestion des cours
        </a>
    </div>

    <div class="sixteen wide column">
        {% if classroom.teachers.count > 0 %}
            <div class="ui middle aligned relaxed list">
                {% for teacher in classroom.teachers.all %}
                    <div class="item">
                        <i class="angle right icon"></i>
                        <div class="content">
                            <a href="{% url 'highschool:teacher-detail' teacher.id %}">{{ teacher.full_name }}</a> (<a href="{% url 'highschool:subject-detail' teacher.subject.id %}">{{ teacher.subject }}</a>)
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="ui icon warning message">
                <i class="exclamation triangle icon"></i>
                <div class="content">
                    <div class="header">
                        Aucune enseignant associé à cette classe
                    </div>
                    <p>Vous devriez commencer par associer des enseignants à cette classe</p>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="sixteen wide column">
        <h3 class="ui header dividing">Liste des étudiant(s)</h3>
    </div>

    <div class="sixteen wide column">
        {% if classroom.students.count > 0 %}
            <div class="ui middle aligned relaxed list">
                {% for student in classroom.students.all %}
                    <div class="item">
                        <i class="angle right icon"></i>
                        <div class="content">
                            <div class="description">
                                <a href="{% url 'highschool:student-detail' student.id %}">{{ student }}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="ui icon warning message">
                <i class="exclamation triangle icon"></i>
                <div class="content">
                    <div class="header">
                        Aucun étudiant dans cette classe
                    </div>
                    <p>Vous devriez commencer par ajouter des étudiants à cette classe</p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
