{% extends 'base.html' %}

{% block content %}

    {# Page title #}
    <div class="sixteen wide column">
        <h2 class="ui icon header d-block">
            <i class="users icon"></i>
            <div class="content">
                {% if cs_form_type == "create" %}Création{% else %}Mise à jour{% endif %}  d'une classe
                <div class="sub header">
                    {% if cs_form_type == "create" %}
                        Créer une nouvelle classe.
                    {% else %}
                        Mettre à jour une classe.
                    {% endif %}
                </div>
            </div>
        </h2>
    </div>

    <div class="sixteen wide column">
        <form action="" class="ui form" method="post">
            {% csrf_token %}

            {# Field: Class name #}
            <div class="field {% if form.class_name.errors %}error{% endif %}">
                <label for="{{ form.class_name.id_for_label }}">{{ form.class_name.label }}</label>
                {{ form.class_name }}
                <small class="helper">{{ form.class_name.help_text }}</small>
                <div class="ui icon {% if form.class_name.errors %}visible{% endif %} error message">
                    <i class="life ring outline icon"></i>
                    <div class="content">
                        <div class="header">Vérifiez les clauses suivantes:</div>
                        <div class="ui list">
                            {% for error in form.class_name.errors %}
                                <div class="item">
                                    <i class="green check icon"></i>
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            {# Fields: Start data & end date #}
            <div class="fields">

                {# Field: Start date #}
                <div class="eight wide field {% if form.start_at.errors %}error{% endif %}">
                    <label for="{{ form.start_at.id_for_label }}">{{ form.start_at.label }}</label>
                    {{ form.start_at }}
                    <small class="helper">{{ form.start_at.help_text }}</small>
                    <div class="ui icon {% if form.start_at.errors %}visible{% endif %} error message">
                        <i class="life ring outline icon"></i>
                        <div class="content">
                            <div class="header">Vérifiez les clauses suivantes:</div>
                            <div class="ui list">
                                {% for error in form.start_at.errors %}
                                    <div class="item">
                                        <i class="green check icon"></i>
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                {# Field: End date #}
                <div class="eight wide field {% if form.end_at.errors %}error{% endif %}">
                    <label for="{{ form.end_at.id_for_label }}">{{ form.end_at.label }}</label>
                    {{ form.end_at }}
                    <small class="helper">{{ form.end_at.help_text }}</small>
                    <div class="ui icon {% if form.end_at.errors %}visible{% endif %} error message">
                        <i class="life ring outline icon"></i>
                        <div class="content">
                            <div class="header">Vérifiez les clauses suivantes:</div>
                            <div class="ui list">
                                {% for error in form.end_at.errors %}
                                    <div class="item">
                                        <i class="green check icon"></i>
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            {# Field: Students list #}
            <div class="field {% if form.students.errors %}error{% endif %}">
                <label for="{{ form.students.id_for_label }}">{{ form.students.label }}</label>
                <select class="ui fluid search dropdown" multiple name="{{ form.students.html_name }}" id="{{ form.students.id_for_label }}">
                    {% for value, label in form.students.field.choices %}
                        <option value="{{ value }}" {% if value in selected.students %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
                <small class="helper">{{ form.students.help_text }}</small>
                <div class="ui icon {% if form.students.errors %}visible{% endif %} error message">
                    <i class="life ring outline icon"></i>
                    <div class="content">
                        <div class="header">Vérifiez les clauses suivantes:</div>
                        <div class="ui list">
                            {% for error in form.students.errors %}
                                <div class="item">
                                    <i class="green check icon"></i>
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            {# Field: Academic grade #}
            <div class="field {% if form.academic_grade.errors %}error{% endif %}">
                <label for="{{ form.academic_grade.id_for_label }}">{{ form.academic_grade.label }}</label>
                <select class="ui fluid search dropdown" name="{{ form.academic_grade.html_name }}" id="{{ form.academic_grade.id_for_label }}">
                    {% for value, label in form.academic_grade.field.choices %}
                        <option value="{{ value }}" {% if value == selected.academic_grade %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
                <small class="helper">{{ form.academic_grade.help_text }}</small>
                <div class="ui icon {% if form.academic_grade.errors %}visible{% endif %} error message">
                    <i class="life ring outline icon"></i>
                    <div class="content">
                        <div class="header">Vérifiez les clauses suivantes:</div>
                        <div class="ui list">
                            {% for error in form.academic_grade.errors %}
                                <div class="item">
                                    <i class="green check icon"></i>
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            {# Field: Teachers #}
            <div class="field {% if form.teachers.errors %}error{% endif %}">
                <label for="{{ form.teachers.id_for_label }}">{{ form.teachers.label }}</label>
                <select class="ui fluid search dropdown" multiple name="{{ form.teachers.html_name }}" id="{{ form.teachers.id_for_label }}">
                    {% for value, label in form.teachers.field.choices %}
                        <option value="{{ value }}" {% if value in selected.teachers %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
                <small class="helper">{{ form.teachers.help_text }}</small>
                <div class="ui icon {% if form.teachers.errors %}visible{% endif %} error message">
                    <i class="life ring outline icon"></i>
                    <div class="content">
                        <div class="header">Vérifiez les clauses suivantes:</div>
                        <div class="ui list">
                            {% for error in form.teachers.errors %}
                                <div class="item">
                                    <i class="green check icon"></i>
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            {# Form non-field errors #}
            {% if form.non_field_errors %}
                <div class="ui icon visible error message">
                    <i class="life ring outline icon"></i>
                    <div class="content">
                        <div class="header">Vérifiez les clauses suivantes:</div>
                        <div class="ui list">
                            {% for error in form.non_field_errors %}
                                <div class="item">
                                    <i class="green check icon"></i>
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}

            {# Field: Validation #}
            <div style="text-align: right">
                <div class="ui buttons w-100">
                    {% if cs_form_type == "create" %}
                        <a href="{% url 'highschool:classroom-list' %}" class="ui button">Annuler</a>
                    {% else %}
                        <a href="{% url 'highschool:classroom-detail' classroom.id %}" class="ui button">Annuler</a>
                    {% endif %}
                    <div class="or" data-text="ou"></div>
                    <input class="ui positive button" type="submit" value="{% if cs_form_type == "create" %}Créer{% else %}Mettre à jour{% endif %}">
                </div>
            </div>

        </form>
    </div>

{% endblock %}