{% extends 'base.html' %}

{% block title %}Gestion des classes{% endblock %}

{% block page-script %}
    <script type="text/javascript">
        $(document).ready(function () {
           $('table').tablesort();
        });
    </script>
{% endblock %}

{% block content %}

    {# Page title #}
    <div class="sixteen wide column">
        <h2 class="ui icon header d-block">
            <i class="users icon"></i>
            <div class="content">
                Gestion des classes
                <div class="sub header">Visualiser et gérer les classes de l'établissement.</div>
            </div>
        </h2>
    </div>

    {# Actions #}
    <div class="sixteen wide column">
        <a href="{% url 'highschool:classroom-create' %}" class="ui labeled icon button d-block blue">
            <i class="plus icon"></i>
            Créer une classe
        </a>
    </div>

    {# List of all classrooms #}
    {% if classroom_list.count > 0 %}
        <div class="sixteen wide column">
            <table class="ui sortable compact tablet stackable celled striped single line table">
                <thead>
                    <tr>
                        <th style="width: 100%">Nom</th>
                        <th>Formation</th>
                        <th>Année</th>
                        <th>Nb. élève</th>
                    </tr>
                </thead>
                <tbody>
                    {% for classroom in classroom_list %}
                        <tr>
                            <td>
                                <a href="{% url 'highschool:classroom-detail' classroom.id %}">{{ classroom.class_name }}</a>
                            </td>
                            <td>{{ classroom.academic_grade }}</td>
                            <td>{{ classroom.start_at|date:"Y" }} - {{ classroom.end_at|date:"Y" }}</td>
                            <td>{{ classroom.students.count }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include 'highschool/misc/pagination.html' with page_obj=page_obj %}
        </div>
    {% else %}
        <div class="sixteen wide column">
            <div class="ui icon warning message">
                <i class="exclamation triangle icon"></i>
                <div class="content">
                    <div class="header">Aucune classe existante !</div>
                    <p>Commencez par créer des classes.</p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}