{% extends "base.html" %}

{% block title %}Formation &laquo; {{ academicgrade.diploma_short_name }} {{ academicgrade.formation_short_name }} &raquo;{% endblock %}

{% block content %}

    {# Page title #}
    <div class="sixteen wide column">
        <h2 class="ui icon header d-block">
            <i class="clipboard icon"></i>
            <div class="content">
                Formation &laquo; {{ academicgrade.diploma_short_name }} {{ academicgrade.formation_short_name }} &raquo;
                <div class="sub header">Visualiser et gérer une formation spécifique.</div>
            </div>
        </h2>
    </div>

    <div class="sixteen wide column">
        <h3 class="ui header dividing">Informations</h3>
    </div>

    {# Actions #}
    <div class="eight wide computer sixteen wide mobile column">
        <a href="{% url 'highschool:academic-grade-update' academicgrade.id %}" class="ui labeled icon button d-block">
            <i class="edit icon"></i>
            Mettre à jour
        </a>
    </div>
    <div class="eight wide computer sixteen wide mobile column">
        <a href="{% url 'highschool:academic-grade-delete' academicgrade.id %}" class="ui labeled icon negative button d-block">
            <i class="trash icon"></i>
            Supprimer
        </a>
    </div>

    {# Academic grade informations #}
    <div class="sixteen wide column">
        <div class="ui middle aligned relaxed list">
            <div class="item">
                <i class="angle right icon"></i>
                <div class="content">
                    <div class="description">
                        <b>Type de diplôme : </b> {{ academicgrade.diploma_short_name }} ({{ academicgrade.diploma_full_name }})
                    </div>
                </div>
            </div>
            <div class="item">
                <i class="angle right icon"></i>
                <div class="content">
                    <div class="description">
                        <b>Nom de la formation : </b> {{ academicgrade.formation_short_name }} ({{ academicgrade.formation_full_name }})
                    </div>
                </div>
            </div>
            <div class="item">
                <i class="angle right icon"></i>
                <div class="content">
                    <div class="description">
                        <b>Années après BAC : </b> {% if academicgrade.year_after_bac > 0 %}+{% else %}-{% endif %}{{ academicgrade.year_after_bac }}
                    </div>
                </div>
            </div>
            <div class="item">
                <i class="angle right icon"></i>
                <div class="content">
                    <div class="description">
                        <b>Liste des classes : </b> {% if academicgrade.classroom_set.count == 0 %}Aucune classe{% endif %}
                    </div>
                    <div class="list">
                        {% for classroom in academicgrade.classroom_set.all %}
                            <div class="item">
                                <i class="angle right icon"></i>
                                <div class="content">
                                    <div class="description"><a href="{% url 'highschool:classroom-detail' classroom.id %}">{{ classroom }}</a> ({{ classroom.students.count }} élève(s))</div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}