{% extends 'base.html' %}

{% block content %}

    {# Page title #}
    <div class="sixteen wide column">
        <h2 class="ui icon header d-block">
            <i class="clipboard icon"></i>
            <div class="content">
                {% if cs_form_type == "create" %}Création{% else %}Mise à jour{% endif %}  d'une formation
                <div class="sub header">
                    {% if cs_form_type == "create" %}
                        Créer une nouvelle formation.
                    {% else %}
                        Mettre à jour une formation.
                    {% endif %}
                </div>
            </div>
        </h2>
    </div>

    {# Form #}
    <div class="sixteen wide column">
        <form action="" class="ui form" method="post">
            {% csrf_token %}

            {# Fields: Diploma short name & formation short name #}
            <div class="fields">

                {# Field: Diploma short name #}
                <div class="eight wide field {% if form.diploma_short_name.errors %}error{% endif %}">
                    <label for="{{ form.diploma_short_name.id_for_label }}">{{ form.diploma_short_name.label }}</label>
                    {{ form.diploma_short_name }}
                    <small class="helper">{{ form.diploma_short_name.help_text }}</small>
                    <div class="ui icon {% if form.diploma_short_name.errors %}visible{% endif %} error message">
                        <i class="life ring outline icon"></i>
                        <div class="content">
                            <div class="header">Vérifiez les clauses suivantes:</div>
                            <div class="ui list">
                                {% for error in form.diploma_short_name.errors %}
                                    <div class="item">
                                        <i class="green check icon"></i>
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                {# Field: Formation short name #}
                <div class="eight wide field {% if form.formation_short_name.errors %}error{% endif %}">
                    <label for="{{ form.formation_short_name.id_for_label }}">{{ form.formation_short_name.label }}</label>
                    {{ form.formation_short_name }}
                    <small class="helper">{{ form.formation_short_name.help_text }}</small>
                    <div class="ui icon {% if form.formation_short_name.errors %}visible{% endif %} error message">
                        <i class="life ring outline icon"></i>
                        <div class="content">
                            <div class="header">Vérifiez les clauses suivantes:</div>
                            <div class="ui list">
                                {% for error in form.formation_short_name.errors %}
                                    <div class="item">
                                        <i class="green check icon"></i>
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            {# Fields: Diploma full name & formation full name #}
            <div class="fields">

                {# Field: Diploma full name #}
                <div class="eight wide field {% if form.diploma_full_name.errors %}error{% endif %}">
                    <label for="{{ form.diploma_full_name.id_for_label }}">{{ form.diploma_full_name.label }}</label>
                    {{ form.diploma_full_name }}
                    <small class="helper">{{ form.diploma_full_name.help_text }}</small>
                    <div class="ui icon {% if form.diploma_full_name.errors %}visible{% endif %} error message">
                        <i class="life ring outline icon"></i>
                        <div class="content">
                            <div class="header">Vérifiez les clauses suivantes:</div>
                            <div class="ui list">
                                {% for error in form.diploma_full_name.errors %}
                                    <div class="item">
                                        <i class="green check icon"></i>
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                {# Field: Formation full name #}
                <div class="eight wide field {% if form.formation_full_name.errors %}error{% endif %}">
                    <label for="{{ form.formation_full_name.id_for_label }}">{{ form.formation_full_name.label }}</label>
                    {{ form.formation_full_name }}
                    <small class="helper">{{ form.formation_full_name.help_text }}</small>
                    <div class="ui icon {% if form.formation_full_name.errors %}visible{% endif %} error message">
                        <i class="life ring outline icon"></i>
                        <div class="content">
                            <div class="header">Vérifiez les clauses suivantes:</div>
                            <div class="ui list">
                                {% for error in form.formation_full_name.errors %}
                                    <div class="item">
                                        <i class="green check icon"></i>
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            {# Field: Year after BAC #}
            <div class="field {% if form.year_after_bac.errors %}error{% endif %}">
                <label for="{{ form.year_after_bac.id_for_label }}">{{ form.year_after_bac.label }}</label>
                {{ form.year_after_bac }}
                <small class="helper">{{ form.year_after_bac.help_text }}</small>
                <div class="ui icon {% if form.year_after_bac.errors %}visible{% endif %} error message">
                    <i class="life ring outline icon"></i>
                    <div class="content">
                        <div class="header">Vérifiez les clauses suivantes:</div>
                        <div class="ui list">
                            {% for error in form.year_after_bac.errors %}
                                <div class="item">
                                    <i class="green check icon"></i>
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            {# Form non-field errors #}
            {% if form.non_field_errors %}
                <div class="ui icon visible error message">
                    <i class="life ring outline icon"></i>
                    <div class="content">
                        <div class="header">Vérifiez les clauses suivantes:</div>
                        <div class="ui list">
                            {% for error in form.non_field_errors %}
                                <div class="item">
                                    <i class="green check icon"></i>
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}

            {# Field: Validation #}
            <div style="text-align: right">
                <div class="ui buttons w-100">
                    {% if cs_form_type == "create" %}
                        <a href="{% url 'highschool:academic-grade-list' %}" class="ui button">Annuler</a>
                    {% else %}
                        <a href="{% url 'highschool:academic-grade-detail' academicgrade.id %}" class="ui button">Annuler</a>
                    {% endif %}
                    <div class="or" data-text="ou"></div>
                    <input class="ui positive button" type="submit" value="{% if cs_form_type == "create" %}Créer{% else %}Mettre à jour{% endif %}">
                </div>
            </div>

        </form>
    </div>
{% endblock %}

