{% extends "base.html" %}

{% block title %}Gestion des formations{% endblock %}

{% block page-script %}
    <script type="text/javascript">
        $(document).ready(function () {
           $('table').tablesort();
        });
    </script>
{% endblock %}

{% block content %}

    {# Page title #}
    <div class="sixteen wide column">
        <h2 class="ui icon header d-block">
            <i class="clipboard icon"></i>
            <div class="content">
                Gestion des formations
                <div class="sub header">Visualiser et gérer les formations de l'établissement.</div>
            </div>
        </h2>
    </div>

    {# Actions #}
    <div class="sixteen wide column">
        <a href="{% url 'highschool:academic-grade-create' %}" class="ui labeled icon button d-block blue">
            <i class="plus icon"></i>
            Créer une formation
        </a>
    </div>

    {# List of all academic grades #}
    {% if academicgrade_list.count > 0 %}
        <div class="sixteen wide column">
            <table class="ui sortable compact tablet stackable celled striped single line table">
                <thead>
                    <tr>
                        <th style="width: 100%">Nom</th>
                        <th>Niveau BAC</th>
                    </tr>
                </thead>
                <tbody>
                    {% for academicgrade in academicgrade_list %}
                         <tr>
                            <td>
                                <a href="{% url 'highschool:academic-grade-detail' academicgrade.id %}">{{ academicgrade.diploma_short_name }} {{ academicgrade.formation_full_name }}</a>
                            </td>
                            <td>
                                {% if academicgrade.year_after_bac > 0 %}
                                    + {{ academicgrade.year_after_bac }}
                                {% else %}
                                    {{ academicgrade.year_after_bac }}
                                {% endif %}
                            </td>
                         </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include 'highschool/misc/pagination.html' with page_obj=page_obj %}
        </div>
    {% else %}
        <div class="sixteen wide column">
            <div class="ui icon warning message">
                <i class="exclamation triangle icon"></i>
                <div class="content">
                    <div class="header">Aucune formation existante !</div>
                    <p>Commencez par créer des formations.</p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}