{% extends "base.html" %}

{% block title %}accueil{% endblock %}

{% block content %}
    {# Row 1: Page title #}
    <div class="sixteen wide column" style="text-align: center">
        <h2 class="ui icon header">
            <i class="sign-in icon"></i>
            <div class="content">
                Connexion
                <div class="sub header">Se connecter et accéder à mes informations.</div>
            </div>
        </h2>
    </div>

    <div class="sixteen wide column">
        <h1>Connexion</h1>
        <form class="ui form" method="post" action="">
            {% csrf_token %}

            <div class="field">
                <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                {{ form.username }}
                <small class="helper">{{ form.username.help_text }}</small>
            </div>

            <div class="field">
                <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                {{ form.password }}
                <small class="helper">{{ form.password.help_text }}</small>
            </div>

            {% if form.non_field_errors %}
                <div class="ui visible warning message">
                    <div class="header">Pouvez-vous vérifiez quelque chose ?</div>
                    <ul class="list">
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div style="text-align: right">
                <button class="ui button positive" type="submit">Se connecter</button>
            </div>

        </form>
    </div>
{% endblock %}

