{% extends 'base.html' %}

{% block title %}Appel de la classe &laquo; {{ classroom.class_name }} &raquo;{% endblock %}
{% block page-script %}
    <script type="text/javascript">
        $('.ui.checkbox').checkbox();
    </script>
{% endblock %}

{% block page-style %}
    <style>
        table .immutable {
            background-color: #f9fafb;
        }
    </style>
{% endblock %}

{% block content %}

    {# Page title #}
    <div class="sixteen wide column">
        <h2 class="ui icon header d-block">
            <i class="users icon"></i>
            <div class="content">
                {% if cs_form_type == 'create' %}
                    Appel de la classe &laquo; {{ classroom }} &raquo; pour le cours de {{ lesson.subject_name }} du {{ lesson.start_at|date:'d F Y à H:i' }}
                {% else %}
                    Mise à jour de l'appel de la classe &laquo; {{ classroom }} &raquo; pour le cours de {{ lesson.subject_name }} du {{ lesson.start_at|date:'d F Y à H:i' }}
                {% endif %}
                <div class="sub header">Faire l'appel d'une classe spécifique pour un cours spécifique.</div>
            </div>
        </h2>
    </div>

    <div class="sixteen wide column">
        <form action="" class="ui form" method="post">
            {% csrf_token %}
            {{ formset.management_form }}

            <table class="ui small celled single line very compact table">
                <thead>
                    <tr>
                        <th class="center aligned">{{ formset.forms|length }} élève(s)</th>
                        <th colspan="2" class="center aligned">Absences</th>
                        <th class="center aligned w-100"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for form in formset.forms %}
                        <tr>
                            {# Student name #}
                            <td class="immutable center aligned">
                                {% if cs_form_type == 'create' %}
                                    {{ form.student.initial }}
                                {% else %}
                                    {{ form.id }}
                                    {{ form.instance.student }}
                                {% endif %}
                                <div style="display: none" class="field {% if form.student.errors %}error{% endif %}">
                                    <label for="{{ form.student.id_for_label }}">{{ form.student.label }}</label>
                                    <select class="ui fluid search dropdown" name="{{ form.student.html_name }}" id="{{ form.student.id_for_label }}">
                                        {% for value, label in form.student.field.choices %}
                                            {% if cs_form_type == 'create' %}
                                                {{ form.student.initial }}
                                                <option value="{{ value }}" {% if value == form.student.initial.id %}selected{% endif %}>{{ label }}</option>
                                            {% else %}
                                                <option value="{{ value }}" {% if value ==  form.student.value %}selected{% endif %}>{{ label }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    <small class="helper">{{ form.student.help_text }}</small>
                                    <div class="ui icon {% if form.student.errors %}visible{% endif %} error message">
                                        <i class="life ring outline icon"></i>
                                        <div class="content">
                                            <div class="header">Vérifiez les clauses suivantes:</div>
                                            <div class="ui list">
                                                {% for error in form.student.errors %}
                                                    <div class="item">
                                                        <i class="green check icon"></i>
                                                        {{ error }}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="display: none" class="field {% if form.lesson.errors %}error{% endif %}">
                                    <label for="{{ form.lesson.id_for_label }}">{{ form.lesson.label }}</label>
                                    <select class="ui fluid search dropdown" name="{{ form.lesson.html_name }}" id="{{ form.lesson.id_for_label }}">
                                        {% for value, label in form.lesson.field.choices %}
                                            {% if cs_form_type == 'create' %}
                                                {{ form.student.initial }}
                                                <option value="{{ value }}" {% if value == form.lesson.initial.id or form.lesson.value %}selected{% endif %}>{{ label }}</option>
                                            {% else %}
                                                <option value="{{ value }}" {% if value == form.lesson.value %}selected{% endif %}>{{ label }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    <small class="helper">{{ form.lesson.help_text }}</small>
                                    <div class="ui icon {% if form.lesson.errors %}visible{% endif %} error message">
                                        <i class="life ring outline icon"></i>
                                        <div class="content">
                                            <div class="header">Vérifiez les clauses suivantes:</div>
                                            <div class="ui list">
                                                {% for error in form.lesson.errors %}
                                                    <div class="item">
                                                        <i class="green check icon"></i>
                                                        {{ error }}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>

                            {# Absence zone #}
                            <td class="center aligned form-check">
                                <div class="inline field {% if form.is_absent.errors %}error{% endif %}" style="display: flex">
                                    <div class="ui checkbox">
                                        <input type="checkbox" tabindex="0" class="hidden" id="{{ form.is_absent.id_for_label }}" name="{{ form.is_absent.html_name }}"
                                               {% if form.is_absent.value %}checked{% endif %}>
                                        <label for="{{ form.is_absent.id_for_label }}" style="padding: 0"></label>
                                    </div>
                                </div>
                            </td>
                            <td class="immutable center aligned">NC</td>

                            {# Rest #}
                            <td></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>


            {# Forms errors #}
            {% if formset.errors %}
                <div class="ui icon visible error message">
                    <i class="life ring outline icon"></i>
                    <div class="content">
                        <div class="header">Vérifiez les clauses suivantes:</div>
                        <div class="ui list">
                            {% for error in formset.errors %}
                                <div class="item">
                                    <i class="green check icon"></i>
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}

            {# Field: Validation #}
            <div style="text-align: right">
                <div class="ui buttons w-100">
                    {% if cs_form_type == 'create' %}
                        <a href="{% url 'highschool:classroom-lesson-detail' class_id=classroom.id pk=lesson.id %}" class="ui button">Annuler</a>
                    {% else %}
                        <a href="{% url 'highschool:classroom-lesson-detail' class_id=classroom.id pk=lesson.id %}" class="ui button">Annuler</a>
                    {% endif %}
                    <div class="or" data-text="ou"></div>
                    <input class="ui positive button" type="submit" value="{% if cs_form_type == 'create' %}Créer{% else %}Mettre à jour{% endif %}">
                </div>
            </div>

        </form>
    </div>
{% endblock %}