{% extends 'base.html' %}

{% block title %}Gestion des classes{% endblock %}

{% block page-script %}
    <script type="text/javascript">
        $(document).ready(function () {
           $('table').tablesort();
        });
    </script>
{% endblock %}

{% block content %}

    {{ object_list }}

    {# Page title #}
    <div class="sixteen wide column">
        <h2 class="ui icon header d-block">
            <i class="users icon"></i>
            <div class="content">
                Gestion des appels de la classe &laquo; {{ classroom }} &raquo;
                <div class="sub header">Visualiser et gérer les appels d'une classe spécifique.</div>
            </div>
        </h2>
    </div>

    {# Actions #}
    <div class="sixteen wide column">
        <a href="#" class="ui labeled icon button d-block blue">
            <i class="bullhorn icon"></i>
            Faire l'appel de la classe
        </a>
    </div>

    {# List of all attendances by teacher #}
    {% if object_list.count > 0 %}
        <div class="sixteen wide column">
            <table class="ui sortable compact tablet stackable celled striped single line table">
                <thead>
                    <tr>
                        <th>Matière</th>
                        <th style="width: 100%">Liste des appels</th>
                    </tr>
                </thead>
                <tbody>
                    {% for classroom_teacher in object_list %}
                        <tr>
                            <td>
                                <a href="#">{{ classroom_teacher.teacher.subject }}</a>
                            </td>
                            <td>
                                {% if classroom_teacher.attendance_set.all.count > 0 %}
                                    <div class="ui styled fluid accordion">
                                        <div class="title">
                                            <i class="dropdown icon"></i>
                                            {{ classroom_teacher.attendance_set.all.count }} appel(s)
                                        </div>
                                        <div class="content">
                                            <div class="ui list">
                                                {% for attendance in classroom_teacher.attendance_set.all %}
                                                    <div class="item">
                                                        <i class="angle right icon"></i>
                                                        {{ attendance }}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    Aucun appel
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include 'highschool/misc/pagination.html' with page_obj=page_obj %}
        </div>
    {% else %}
        <div class="sixteen wide column">
            <div class="ui icon warning message">
                <i class="exclamation triangle icon"></i>
                <div class="content">
                    <div class="header">Aucune appel pour cette classe existant !</div>
                    <p>Commencez par faire un nouvel appel.</p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

