{% extends 'base.html' %}

{% block content %}

    {# Page title #}
    <div class="sixteen wide column">
        <h2 class="ui icon header d-block">
            <i class="calendar alternate outline icon"></i>
            <div class="content">
                {% if cs_form_type == 'create' %}Création{% else %}Mise à jour{% endif %} d'un cours
                <div class="sub header">{% if cs_form_type == 'create' %}Créer{% else %}Mettre à jour{% endif %} un cours d'une classe spécifique.</div>
            </div>
        </h2>
    </div>

    {# Form #}
    <div class="sixteen wide column">
        <form action="" method="post" class="ui form">
            {% csrf_token %}

            {# Course teacher (subject) #}
            <div class="field {% if form.classroom_teacher.errors %}error{% endif %}">
                <label for="{{ form.classroom_teacher.id_for_label }}">{{ form.classroom_teacher.label }}</label>
                <select class="ui fluid search dropdown" name="{{ form.classroom_teacher.html_name }}" id="{{ form.classroom_teacher.id_for_label }}">
                    {% for value, label in form.classroom_teacher.field.choices %}
                        <option value="{{ value }}" {% if value == form.classroom_teacher.initial %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
                <small class="helper">{{ form.classroom_teacher.help_text }}</small>
                <div class="ui icon {% if form.classroom_teacher.errors %}visible{% endif %} error message">
                    <i class="life ring outline icon"></i>
                    <div class="content">
                        <div class="header">Vérifiez les clauses suivantes:</div>
                        <div class="ui list">
                            {% for error in form.classroom_teacher.errors %}
                                <div class="item">
                                    <i class="green check icon"></i>
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            {# Fields: Course start_at & end_at #}
            <div class="fields">

                {# Field: Course start_at #}
                <div class="eight wide field {% if form.start_at.errors %}error{% endif %}">
                    <label for="{{ form.start_at.id_for_label }}">{{ form.start_at.label }}</label>
                    {{ form.start_at }}
                    <small class="helper">{{ form.start_at.help_text }}</small>
                    <div class="ui icon {% if form.start_at.errors %}visible{% endif %} error message">
                        <i class="life ring outline icon"></i>
                        <div class="content">
                            <div class="header">Vérifiez les clauses suivantes:</div>
                            <div class="ui list">
                                {% for error in form.start_at.errors %}
                                    <div class="item">
                                        <i class="green check icon"></i>
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>


                {# Field: Course end_at #}
                <div class="eight wide field {% if form.end_at.errors %}error{% endif %}">
                    <label for="{{ form.end_at.id_for_label }}">{{ form.end_at.label }}</label>
                    {{ form.end_at }}
                    <small class="helper">{{ form.end_at.help_text }}</small>
                    <div class="ui icon {% if form.end_at.errors %}visible{% endif %} error message">
                        <i class="life ring outline icon"></i>
                        <div class="content">
                            <div class="header">Vérifiez les clauses suivantes:</div>
                            <div class="ui list">
                                {% for error in form.end_at.errors %}
                                    <div class="item">
                                        <i class="green check icon"></i>
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            {# Form non-field errors #}
            {% if form.non_field_errors %}
                <div class="ui icon visible error message">
                    <i class="life ring outline icon"></i>
                    <div class="content">
                        <div class="header">Vérifiez les clauses suivantes:</div>
                        <div class="ui list">
                            {% for error in form.non_field_errors %}
                                <div class="item">
                                    <i class="green check icon"></i>
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}

            {# Field: Validation #}
            <div style="text-align: right">
                <div class="ui buttons w-100">
                    {% if cs_form_type == 'create' %}
                        <a href="{% url 'highschool:classroom-lesson-list' class_id=classroom.id %}" class="ui button">Annuler</a>
                    {% else %}
                        <a href="{% url 'highschool:classroom-lesson-detail' class_id=classroom.id pk=lesson.id %}" class="ui button">Annuler</a>
                    {% endif %}
                    <div class="or" data-text="ou"></div>
                    <input class="ui positive button" type="submit" value="{% if cs_form_type == 'create' %}Créer{% else %}Mettre à jour{% endif %}">
                </div>
            </div>

        </form>
    </div>

{% endblock %}