{% extends "base.html" %}

{% block title %}Suppression de la leçon &laquo; {{ lesson.page_title|safe }} &raquo;{% endblock %}

{% block content %}

    {# Page title #}
    <div class="sixteen wide column">
        <h2 class="ui icon header d-block">
            <i class="calendar outline alternate icon"></i>
            <div class="content">
                Suppression de la leçon &laquo; {{ lesson.page_title|safe }} &raquo;
                <div class="sub header">Supprimer définitivement une leçon d'un classe spécifique.</div>
            </div>
        </h2>
    </div>

    {# Warning #}
    <div class="sixteen wide column">
        <div class="ui icon warning message">
            <i class="exclamation triangle icon"></i>
            <div class="content">
                <div class="header">
                    Vous allez supprimer une leçon, la suppression de cette leçon implique :
                </div>
                <div class="ui list">
                    <div class="item">
                        <i class="check green icon"></i>
                        <div class="content">
                            La suppression <b>définitive et irréversible</b> de cette leçon
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# Form #}
    <div class="sixteen wide column">
        <form method="post" class="ui form">
            {% csrf_token %}
            <div class="ui buttons w-100">
                <a href="{% url 'highschool:classroom-lesson-detail' class_id=classroom.id pk=lesson.id %}" class="ui button">Annuler</a>
                <div class="or" data-text="ou"></div>
                <input type="submit" value="Supprimer" class="ui negative button">
            </div>
        </form>
    </div>
{% endblock %}

