{% extends 'base.html' %}

{% block title %}{{ lesson.page_title|safe }}{% endblock %}

{% block content %}

    {# Page title #}
    <div class="sixteen wide column">
        <h2 class="ui icon header d-block">
            <i class="calendar outline alternate icon"></i>
            <div class="content">
                {{ lesson.page_title|safe }}
                <div class="sub header">Visualiser et gérer une leçon spécifique.</div>
            </div>
        </h2>
    </div>

    <div class="sixteen wide column">
        <h3 class="ui header dividing">Informations</h3>
    </div>

    {# Actions #}
    <div class="eight wide computer sixteen wide mobile column">
        <a href="{% url 'highschool:classroom-lesson-update' class_id=classroom.id pk=lesson.id %}" class="ui labeled icon button d-block">
            <i class="edit icon"></i>
            Mettre à jour
        </a>
    </div>
    <div class="eight wide computer sixteen wide mobile column">
        <a href="{% url 'highschool:classroom-lesson-delete' class_id=classroom.id pk=lesson.id %}" class="ui labeled icon negative button d-block">
            <i class="trash icon"></i>
            Supprimer
        </a>
    </div>

    {# Lesson informations #}
    <div class="sixteen wide column">
        <div class="ui middle aligned relaxed list">
            <div class="item">
                <i class="angle right icon"></i>
                <div class="content">
                    <div class="description">
                        <b>Matière : </b> <a href="{% url 'highschool:subject-detail' lesson.subject.id %}">{{ lesson.subject }}</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <i class="angle right icon"></i>
                <div class="content">
                    <div class="description">
                        <b>Enseignant référant : </b> <a href="{% url 'highschool:teacher-detail' lesson.teacher.id %}">{{ lesson.teacher.full_name }}</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <i class="angle right icon"></i>
                <div class="content">
                    <div class="description">
                        <b>Date de début : </b> {{ lesson.start_at|date:'d F Y à H:i' }}
                    </div>
                </div>
            </div>
            <div class="item">
                <i class="angle right icon"></i>
                <div class="content">
                    <div class="description">
                        <b>Date de fin : </b> {{ lesson.end_at|date:'d F Y à H:i' }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sixteen wide column">
        <h3 class="ui header dividing">Appel de la classe</h3>
    </div>

    {# Actions #}
    <div class="sixteen wide column">
        {% if lesson.has_attendance %}
            <a href="{% url 'highschool:classroom-lesson-attendance-update' class_id=classroom.id lesson_id=lesson.id %}" class="ui labeled blue icon button d-block">
                <i class="bullhorn icon"></i>
                Modifier l'appel
            </a>

        {% else %}
            <a href="{% url 'highschool:classroom-lesson-attendance-create' class_id=classroom.id lesson_id=lesson.id %}" class="ui labeled blue icon button d-block">
                <i class="bullhorn icon"></i>
                Faire l'appel
            </a>
        {% endif %}
    </div>

    {# Lesson attendance informations #}
    {% if lesson.has_attendance %}
        <div class="sixteen wide column">
            <div class="ui middle aligned relaxed list">
                    <div class="item">
                        <i class="angle right icon"></i>
                        <div class="content">
                            <div class="description">
                                <b>Liste étudiants absents : </b>
                                {% if lesson.absent_students|length == 0 %}Aucun{% endif %}
                            </div>
                            <div class="list">
                                {% for student in lesson.absent_students %}
                                    <div class="item">
                                        <i class="angle right icon"></i>
                                        <div class="content">
                                            <div class="description"><a href="{% url 'highschool:student-detail' student.id %}">{{ student }}</a></div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

            </div>
        </div>
    {% endif %}

{% endblock %}