{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block page-script %}{% endblock %}
{% block page-style %}{% endblock %}

{% block content %}

    {# Page title #}
    <div class="sixteen wide column">
        <h2 class="ui icon header d-block">
            <i class="calendar alternate outline icon"></i>
            <div class="content">
                Gestion des cours de la classe &laquo; {{ classroom }} &raquo;
                <div class="sub header">Visualiser et gérer les cours d'une classe spécifique.</div>
            </div>
        </h2>
    </div>

    {# Actions #}
    <div class="sixteen wide column">
        <a href="{% url 'highschool:classroom-lesson-create' class_id=classroom.id %}" class="ui labeled icon button d-block blue">
            <i class="plus icon"></i>
            Créer un cours
        </a>
    </div>

    {# List of all courses #}
    {% if object_list.count > 0 %}
        <div class="sixteen wide column">
            <table class="ui sortable compact tablet stackable celled striped single line table">
                <thead>
                    <tr>
                        <th>Enseignant (Matière)</th>
                        <th style="width: 100%">Liste des leçons</th>
                    </tr>
                </thead>
                <tbody>
                    {% regroup object_list by classroom_teacher as lessons_by_class_teacher %}
                    {% for subject_group in lessons_by_class_teacher %}
                        <tr>
                            <td style="display: flex; flex-direction: column; align-items: center">
                                <a href="{% url 'highschool:teacher-detail' subject_group.grouper.teacher.id %}">{{ subject_group.grouper.teacher_name }}</a>
                                <span>(<a href="{% url 'highschool:subject-detail' subject_group.grouper.teacher.subject.id %}">{{ subject_group.grouper.subject_name }}</a>)</span>
                            </td>
                            <td>
                                <div class="ui styled fluid accordion">
                                    <div class="title">
                                        <i class="dropdown icon"></i>
                                        {{ subject_group.list|length }} leçon(s) programmée(s)
                                    </div>
                                    <div class="content">
                                        <div class="ui list">
                                            {% for lesson in subject_group.list %}
                                                <div class="item" style="white-space: initial">
                                                    <i class="check icon green"></i>
                                                    <div class="content">
                                                        <a href="{% url 'highschool:classroom-lesson-detail' class_id=classroom.id pk=lesson.id %}">{{ lesson.simple }}</a>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include 'highschool/misc/pagination.html' with page_obj=page_obj %}
        </div>
    {% else %}
        <div class="sixteen wide column">
            <div class="ui icon warning message">
                <i class="exclamation triangle icon"></i>
                <div class="content">
                    <div class="header">Aucun cours existant !</div>
                    <p>Commencez par créer des cours .</p>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}