{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}

    <div class="sixteen wide column" style="text-align: center">
        <h2 class="ui icon header">
            <i class="th icon"></i>
            <div class="content">
                Supprimer la matière &laquo; {{ subject.name }} &raquo;
                <div class="sub header">Supprimer une matière spécifique et ses dépendances.</div>
            </div>
        </h2>
    </div>

    <div class="sixteen wide column">
        <div class="ui icon warning message">
            <i class="exclamation triangle icon"></i>
            <div class="content">
                <div class="header">
                    Vous allez supprimer une matière, la suppression de cette matière implique :
                </div>
                <div class="ui list">
                    <div class="item">
                        <i class="check green icon"></i>
                        <div class="content">
                            La suppression <b>définitive et irréversible</b> de la matière
                        </div>
                    </div>
                    <div class="item">
                        <i class="check green icon"></i>
                        <div class="content">
                            La suppression en cascade <b>de chaque cours associé à la matière</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sixteen wide column">
        <form method="post" class="ui form right aligned basic segment">
            {% csrf_token %}
            <div class="ui buttons">
                <a href="{% url 'highschool:subject-detail' subject.id %}" class="ui button">Annuler</a>
                <div class="or" data-text="ou"></div>
                <input type="submit" value="Confirmer" class="ui negative button">
            </div>
        </form>
    </div>

{% endblock %}