{% extends 'base.html' %}

{% block title %}Détails de la matière &laquo; {{ subject.name }} &raquo;{% endblock %}

{% block content %}

    <div class="sixteen wide column" style="text-align: center">
        <h2 class="ui icon header">
            <i class="th icon"></i>
            <div class="content">
                Détails de matière &laquo; {{ subject.name }} &raquo;
                <div class="sub header">Voir les détails d'une matière spécifique.</div>
            </div>
        </h2>
    </div>

    <div class="sixteen wide column">
        <h3 class="ui header dividing">Informations</h3>
    </div>

    <div class="eight wide computer sixteen wide mobile column">
        <a href="{% url 'highschool:subject-update' subject.id %}" class="ui labeled icon button d-block">
            <i class="edit icon"></i>
            Mettre à jour
        </a>
    </div>
    <div class="eight wide computer sixteen wide mobile column">
        <a href="{% url 'highschool:subject-delete' subject.id %}" class="ui labeled icon negative button d-block">
            <i class="trash icon"></i>
            Supprimer
        </a>
    </div>

    <div class="sixteen wide column">
        <div class="ui middle aligned relaxed list">
            <div class="item">
                <i class="angle right icon"></i>
                <div class="content">
                    <div class="description">
                        <b>Nom : </b>
                        {{ subject.name }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}