{% extends 'base.html' %}

{% block title %}DEFAULT_SUBJECT_FORM_TITLE{% endblock %}
{% block content %}

    {# Page title #}
    <div class="sixteen wide column" style="text-align: center">
        <h2 class="ui icon header">
            <i class="th icon"></i>
            <div class="content">
                {% if cs_form_type == "create" %}Création{% else %}Mise à jour{% endif %} d'une matière
                <div class="sub header">Créer une nouvelle matière au sein de l'établissement.</div>
            </div>
        </h2>
    </div>

    {# Form #}
    <div class="sixteen wide column">
        <form action="" method="post" class="ui form">
            {% csrf_token %}

            {# Field: Subject name #}
            <div class="field {% if form.name.errors %}error{% endif %}">
                <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                {{ form.name }}
                <small class="helper">{{ form.name.help_text }}</small>
                <div class="ui list">
                    {% for error in form.name.errors %}
                        <div class="item">
                            <i class="check icon"></i>
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
            </div>

            {# Field: Subject color #}
            <div class="field {% if form.color.errors %}error{% endif %}">
                <label for="{{ form.color.id_for_label }}">{{ form.color.label }}</label>
                {{ form.color }}
                <small class="helper">{{ form.color.help_text }}</small>
                <div class="ui list">
                    {% for error in form.color.errors %}
                        <div class="item">
                            <i class="check icon"></i>
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
            </div>

            {# Form validation #}
            <div style="text-align: right">
                <div class="ui buttons w-100">
                    {% if cs_form_type == "create" %}
                        <a href="{% url 'highschool:subject-list' %}" class="ui button">Annuler</a>
                    {% else %}
                        <a href="{% url 'highschool:subject-detail' subject.id %}" class="ui button">Annuler</a>
                    {% endif %}
                    <div class="or" data-text="ou"></div>
                    <input class="ui positive button" type="submit" value="{% if cs_form_type == "create" %}Créer{% else %}Mettre à jour{% endif %}">
                </div>
            </div>
        </form>
    </div>
{% endblock %}