{% extends 'base.html' %}

{% block title %}Liste des matières{% endblock %}

{% block page-script %}
    <script type="text/javascript">
        $(document).ready(function () {
           $('#table-subject-list').tablesort();
        });
    </script>
{% endblock %}

{% block content %}

    {# Page title #}
    <div class="sixteen wide column" style="text-align: center">
        <h2 class="ui icon header">
            <i class="th icon"></i>
            <div class="content">
                Matières
                <div class="sub header">Voir et gérer l'ensemble des matières de l'établissement</div>
            </div>
        </h2>
    </div>

    {# Actions #}
    <div class="sixteen wide column">
        <a href="{% url 'highschool:subject-create' %}" class="ui labeled blue icon button d-block">
            <i class="plus icon"></i>
            Créer une matière
        </a>
    </div>

    {# List of subjects #}
    {% if subject_list.count > 0 %}
        <div class="sixteen wide column">
            <table id="table-subject-list" class="ui sortable compact tablet stackable celled striped single line table">
                <thead>
                    <tr>
                        <th style="width: 100%">Nom</th>
                    </tr>
                </thead>
                <tbody>
                    {% for subject in subject_list %}
                        <tr>
                            <td>
                                <a style="--mat-color: {{ subject.color }}" class="subject-name" href="{% url 'highschool:subject-detail' subject.id %}">{{ subject.name }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% include 'highschool/misc/pagination.html' with page_obj=page_obj %}
    {% else %}
        <div class="sixteen wide column">
            <div class="ui icon warning message">
                <i class="exclamation triangle icon"></i>
                <div class="content">
                    <div class="header">
                        Aucune matière existante
                    </div>
                    <p>Vous devriez commencer par créer une nouvelle matière !</p>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}