{% load sass_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/semantic.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/fullcalendar.min.css' %}">
        <link rel="stylesheet" href="{% sass_src 'sma.scss' %}" />
        {% block page-style %}{% endblock %}

        <!-- JS -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/semantic.min.js' %}"></script>
        <script src="{% static 'js/fullcalendar.min.js' %}"></script>
        <script src="{% static 'fullcalendar_locales/fr.js' %}"></script>
        <script src="{% static 'js/tablesort.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>
        {% block page-script %}{% endblock %}

        <title>{% block title %}My amazing site{% endblock %}</title>
    </head>
    <body>

        <div class="ui sidebar inverted vertical menu sidebar-menu" id="sidebar">
            <a class="item mobile only" href="{% url 'highschool:index' %}">
                <div>
                    <i class="icon home"></i>
                    School Management App
                </div>
            </a>
            <div class="item">
                <div class="header">Gestion du personnel</div>
                <div class="menu">
                    <a href="{% url 'highschool:student-list' %}" class="item">
                        <div>
                            <i class="icon child"></i>
                            Etudiants
                        </div>
                    </a>
                    <a href="{% url 'highschool:teacher-list' %}" class="item">
                        <div>
                            <i class="icon male"></i>
                            Enseignants
                        </div>
                    </a>
                    <a href="{% url 'highschool:group-list' %}" class="item">
                        <div>
                            <i class="icon check"></i>
                            Groupes & Permissions
                        </div>
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="header">Administration</div>
                <div class="menu">
                    <a href="{% url 'highschool:academic-grade-list' %}" class="item">
                        <div>
                            <i class="icon clipboard"></i>
                            Formations scolaires
                        </div>
                    </a>
                    <a href="{% url 'highschool:classroom-list' %}" class="item">
                        <div>
                            <i class="icon users"></i>
                            Classes
                        </div>
                    </a>
                    <a href="{% url 'highschool:subject-list' %}" class="item">
                        <div>
                            <i class="th icon"></i>
                            Matières
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <nav class="ui top fixed inverted menu">
            <div class="left menu">
                <a href="#" class="sidebar-menu-toggler item" data-target="#sidebar">
                    <i class="sidebar icon"></i>
                </a>
                <a href="{% url 'highschool:index' %}" class="header item mobile hidden">
                    <i class="icon home"></i>
                    School Management App
                </a>
            </div>
            <div class="right menu">
                {% if not user.is_authenticated %}
                    <a class="item" href="{% url 'accounts:login' %}">
                        <i class="sign-in icon"></i>
                        Se connecter
                    </a>
                {% else %}
                    <div class="ui dropdown item">
                        <i class="user circle icon"></i>
                        {{ user.first_name }} {{ user.last_name|upper }}
                        <div class="menu" tabindex="-1">
{#                            <a href="#" class="item">#}
{#                                <i class="info circle icon"></i>#}
{#                                Profile#}
{#                            </a>#}
{#                            <a href="#" class="item">#}
{#                                <i class="wrench icon"></i>#}
{#                                Settings#}
{#                            </a>#}
                            <a href="{% url 'accounts:logout' %}" class="item">
                                <i class="sign-out icon"></i>
                                Déconnexion
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </nav>

        <div class="pusher">
            <div class="main-content">
                <div class="ui stackable grid padded">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>