{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block page-script %}
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                headerToolbar: {
                    start: 'title',
                    center: '',
                    end: 'prev today next'
                },
                weekends: false,
                initialView: 'timeGridWeek',
                locale: 'fr',
                allDaySlot: false,
                slotMinTime: '06:00:00',
                slotMaxTime: '20:00:00',
                expandRows: true,
                nowIndicator: true,
                events: [
                    {% for lesson in classroom.lessons %}
                        {
                            title: '{{ lesson.subject_name }}',
                            start: '{{ lesson.start_at|date:'c' }}',
                            end: '{{ lesson.end_at|date:'c' }}',
                            color: '{{ lesson.subject_color }}',
                            url: "{% url 'highschool:classroom-lesson-detail' class_id=classroom.id pk=lesson.id %}"
                        },
                    {% endfor %}
                ]
            });
            calendar.render();
        });
    </script>
{% endblock %}

{% block content %}

    {# Page title #}
    <div class="sixteen wide column" style="text-align: center">
        <h2 class="ui icon header">
            <i class="calendar alternate outline icon"></i>
            <div class="content">
                Planning de la classe &laquo; {{ classroom.class_name }} &raquo;
                <div class="sub header">Voir et mettre à jour les cours d'une classe spécifique.</div>
            </div>
        </h2>
    </div>

    {# Actions #}
    <div class="sixteen wide column">
        <a href="{% url 'highschool:classroom-lesson-list' class_id=classroom.id %}" class="ui blue labeled icon button d-block">
            <i class="calendar outline alternate icon"></i>
            Gestion des cours
        </a>
    </div>


    <div class="sixteen wide column">
        <div id="calendar"></div>
    </div>
{% endblock %}