{% extends 'base.html' %}

{% block title %}Erreur - 400{% endblock %}

{% block content %}

    {# Page title #}
    <div class="sixteen wide column">
        <h2 class="ui icon header d-block">
            <i class="close icon"></i>
            <div class="content">
                Erreur 400
                <div class="sub header">La requête initié est corrompu, la syntaxe est sûrement fausse.</div>
            </div>
        </h2>
    </div>

{% endblock %}