{% extends 'base.html' %}

{% block title %}Erreur - 500{% endblock %}

{% block content %}

    {# Page title #}
    <div class="sixteen wide column">
        <h2 class="ui icon header d-block">
            <i class="close icon"></i>
            <div class="content">
                Erreur 500
                <div class="sub header">Une erreur s'est produite sur le serveur, c'est notre faute. Ré-éssayez plus tard.</div>
            </div>
        </h2>
    </div>

{% endblock %}