{% extends 'base.html' %}

{% block title %}Erreur - 403{% endblock %}

{% block content %}

    {# Page title #}
    <div class="sixteen wide column">
        <h2 class="ui icon header d-block">
            <i class="close icon"></i>
            <div class="content">
                Erreur 403
                <div class="sub header">Vous n'avez pas les droits suffisants pour accéder à cette page.</div>
            </div>
        </h2>
    </div>

{% endblock %}