{% extends 'base.html' %}

{% block title %}Erreur - 404{% endblock %}

{% block content %}

    {# Page title #}
    <div class="sixteen wide column">
        <h2 class="ui icon header d-block">
            <i class="close icon"></i>
            <div class="content">
                Erreur 404
                <div class="sub header">La ressource demandé n'existe pas.</div>
            </div>
        </h2>
    </div>

{% endblock %}