{% extends "base.html" %}

{% block title %}
    {% if cs_form_type == 'create' %}Création{% else %}Mise à jour{% endif %} d'un enseignant
{% endblock %}

{% block page-script %}
    <script type="text/javascript">
        $('.ui.checkbox').checkbox();
    </script>
{% endblock %}

{% block content %}

    {# Page title #}
    <div class="sixteen wide column">
        <h2 class="ui icon header d-block">
            <i class="child icon"></i>
            <div class="content">
                {% if cs_form_type == 'create' %}Création{% else %}Mise à jour{% endif %} d'un enseignant
                <div class="sub header">{% if cs_form_type == 'create' %}Créer{% else %}Mettre à jour{% endif %} un nouvel utilisateur de type &laquo; enseignant &raquo;.</div>
            </div>
        </h2>
    </div>

    {# Form #}
    <div class="sixteen wide column">
        <form action="" method="post" class="ui form">
            {% csrf_token %}

            <h4 class="ui dividing header">Identifiants</h4>

            {# Field: Username #}
            <div class="field {% if user_form.username.errors %}error{% endif %}">
                <label for="{{ user_form.username.id_for_label }}">{{ user_form.username.label }}</label>
                {{ user_form.username }}
                <small class="helper">{{ user_form.username.help_text }}</small>
                <div class="ui icon {% if user_form.username.errors %}visible{% endif %} error message">
                    <i class="life ring outline icon"></i>
                    <div class="content">
                        <div class="header">Vérifiez les clauses suivantes:</div>
                        <div class="ui list">
                            {% for error in user_form.username.errors %}
                                <div class="item">
                                    <i class="green check icon"></i>
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            {# Field: Email #}
            <div class="field {% if user_form.email.errors %}error{% endif %}">
                <label for="{{ user_form.email.id_for_label }}">{{ user_form.email.label }}</label>
                {{ user_form.email }}
                <small class="helper">{{ user_form.email.help_text }}</small>
                <div class="ui icon {% if user_form.email.errors %}visible{% endif %} error message">
                    <i class="life ring outline icon"></i>
                    <div class="content">
                        <div class="header">Vérifiez les clauses suivantes:</div>
                        <div class="ui list">
                            {% for error in user_form.email.errors %}
                                <div class="item">
                                    <i class="green check icon"></i>
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            {# Fields: Password1, Password2 #}
            {% if cs_form_type == 'create' %}
                <div class="fields">

                    {# Field: Password1 #}
                    <div class="eight wide field {% if user_form.password1.errors %}error{% endif %}">
                        <label for="{{ user_form.password1.id_for_label }}">{{ user_form.password1.label }}</label>
                        {{ user_form.password1 }}
                        <small class="helper">{{ user_form.password1.help_text }}</small>
                        <div class="ui icon {% if user_form.password1.errors %}visible{% endif %} error message">
                            <i class="life ring outline icon"></i>
                            <div class="content">
                                <div class="header">Vérifiez les clauses suivantes:</div>
                                <div class="ui list">
                                    {% for error in user_form.password1.errors %}
                                        <div class="item">
                                            <i class="green check icon"></i>
                                            {{ error }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

                    {# Field: Password2 #}
                    <div class="eight wide field {% if user_form.password2.errors %}error{% endif %}">
                        <label for="{{ user_form.password2.id_for_label }}">{{ user_form.password2.label }}</label>
                        {{ user_form.password2 }}
                        <small class="helper">{{ user_form.password2.help_text }}</small>
                        <div class="ui icon {% if user_form.password2.errors %}visible{% endif %} error message">
                            <i class="life ring outline icon"></i>
                            <div class="content">
                                <div class="header">Vérifiez les clauses suivantes:</div>
                                <div class="ui list">
                                    {% for error in user_form.password2.errors %}
                                        <div class="item">
                                            <i class="green check icon"></i>
                                            {{ error }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            {% else %}
                <div class="field {% if user_form.password.errors %}error{% endif %}">
                    <label for="{{ user_form.password.id_for_label }}">{{ user_form.password.label }}</label>
                    {{ user_form.password }}
                    {# <small class="helper">{{ user_form.password.help_text|safe }}</small> #}
                    <small class="helper">La modification de mot de passe n'est pas encore disponible.</small>
                    <div class="ui icon {% if user_form.password.errors %}visible{% endif %} error message">
                        <i class="life ring outline icon"></i>
                        <div class="content">
                            <div class="header">Vérifiez les clauses suivantes:</div>
                            <div class="ui list">
                                {% for error in user_form.password.errors %}
                                    <div class="item">
                                        <i class="green check icon"></i>
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
            </div>
            {% endif %}

            <h4 class="ui dividing header">Informations personnelles</h4>

            {# Fields: First name, Last name #}
            <div class="fields">

                {# Field: First name #}
                <div class="eight wide field {% if user_form.first_name.errors %}error{% endif %}">
                    <label for="{{ user_form.first_name.id_for_label }}">{{ user_form.first_name.label }}</label>
                    {{ user_form.first_name }}
                    <small class="helper">{{ user_form.first_name.help_text }}</small>
                    <div class="ui icon {% if user_form.first_name.errors %}visible{% endif %} error message">
                        <i class="life ring outline icon"></i>
                        <div class="content">
                            <div class="header">Vérifiez les clauses suivantes:</div>
                            <div class="ui list">
                                {% for error in user_form.first_name.errors %}
                                    <div class="item">
                                        <i class="green check icon"></i>
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                {# Field: Last name #}
                <div class="eight wide field {% if user_form.last_name.errors %}error{% endif %}">
                    <label for="{{ user_form.last_name.id_for_label }}">{{ user_form.last_name.label }}</label>
                    {{ user_form.last_name }}
                    <small class="helper">{{ user_form.last_name.help_text }}</small>
                    <div class="ui icon {% if user_form.last_name.errors %}visible{% endif %} error message">
                        <i class="life ring outline icon"></i>
                        <div class="content">
                            <div class="header">Vérifiez les clauses suivantes:</div>
                            <div class="ui list">
                                {% for error in user_form.last_name.errors %}
                                    <div class="item">
                                        <i class="green check icon"></i>
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            {# Fields: Phone, Genre #}
            <div class="fields">

                {# Field: Phone #}
                <div class="eight wide field {% if form.phone.errors %}error{% endif %}">
                    <label for="{{ form.phone.id_for_label }}">{{ form.phone.label }}</label>
                    {{ form.phone }}
                    <small class="helper">{{ form.phone.help_text }}</small>
                    <div class="ui icon {% if form.phone.errors %}visible{% endif %} error message">
                        <i class="life ring outline icon"></i>
                        <div class="content">
                            <div class="header">Vérifiez les clauses suivantes:</div>
                            <div class="ui list">
                                {% for error in form.phone.errors %}
                                    <div class="item">
                                        <i class="green check icon"></i>
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                {# Field: Genre #}
                <div class="eight wide field {% if form.genre.errors %}error{% endif %}">
                    <label for="{{ form.genre.id_for_label }}">{{ form.genre.label }}</label>
                    <select class="ui fluid search dropdown" name="{{ form.genre.html_name }}" id="{{ form.genre.id_for_label }}">
                        {% for value, label in form.genre.field.choices %}
                            <option value="{{ value }}" {% if value == selected.genre %}selected{% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>
                    <small class="helper">{{ form.genre.help_text }}</small>
                    <div class="ui icon {% if form.genre.errors %}visible{% endif %} error message">
                        <i class="life ring outline icon"></i>
                        <div class="content">
                            <div class="header">Vérifiez les clauses suivantes:</div>
                            <div class="ui list">
                                {% for error in form.genre.errors %}
                                    <div class="item">
                                        <i class="green check icon"></i>
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            {# Fields: Birth date, Date joined #}
            <div class="fields">

                {# Field: Birth date #}
                <div class="eight wide field {% if form.birth_date.errors %}error{% endif %}">
                    <label for="{{ form.birth_date.id_for_label }}">{{ form.birth_date.label }}</label>
                    {{ form.birth_date }}
                    <small class="helper">{{ form.birth_date.help_text }}</small>
                    <div class="ui icon {% if form.birth_date.errors %}visible{% endif %} error message">
                        <i class="life ring outline icon"></i>
                        <div class="content">
                            <div class="header">Vérifiez les clauses suivantes:</div>
                            <div class="ui list">
                                {% for error in form.birth_date.errors %}
                                    <div class="item">
                                        <i class="green check icon"></i>
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                {# Field: Date joined #}
                <div class="eight wide field {% if user_form.date_joined.errors %}error{% endif %}">
                    <label for="{{ user_form.date_joined.id_for_label }}">{{ user_form.date_joined.label }}</label>
                    {{ user_form.date_joined }}
                    <small class="helper">{{ user_form.date_joined.help_text }}</small>
                    <div class="ui icon {% if user_form.date_joined.errors %}visible{% endif %} error message">
                        <i class="life ring outline icon"></i>
                        <div class="content">
                            <div class="header">Vérifiez les clauses suivantes:</div>
                            <div class="ui list">
                                {% for error in user_form.date_joined.errors %}
                                    <div class="item">
                                        <i class="green check icon"></i>
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            {# Field: Subject #}
            <div class="field {% if form.subject.errors %}error{% endif %}">
                <label for="{{ form.subject.id_for_label }}">{{ form.subject.label }}</label>
                <select class="ui fluid search dropdown" name="{{ form.subject.html_name }}" id="{{ form.subject.id_for_label }}">
                    {% for value, label in form.subject.field.choices %}
                        <option value="{{ value }}" {% if value == selected.subject %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
                <small class="helper">{{ form.subject.help_text }}</small>
                <div class="ui icon {% if form.subject.errors %}visible{% endif %} error message">
                    <i class="life ring outline icon"></i>
                    <div class="content">
                        <div class="header">Vérifiez les clauses suivantes:</div>
                        <div class="ui list">
                            {% for error in form.subject.errors %}
                                <div class="item">
                                    <i class="green check icon"></i>
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <h4 class="ui dividing header">Gestion des droits</h4>

            {# Field: Is active #}
            <div class="inline field {% if user_form.is_active.errors %}error{% endif %}">
                <div class="ui checkbox">
                    <input type="checkbox" tabindex="0" class="hidden" id="{{ user_form.is_active.id_for_label }}" name="{{ user_form.is_active.html_name }}" {% if user_form.is_active.value %}checked{% endif %}>
                    <label for="{{ user_form.is_active.id_for_label }}">{{ user_form.is_active.label }}</label>
                </div>
                <small class="helper">{{ user_form.is_active.help_text }}</small>
                <div class="ui icon {% if user_form.is_active.errors %}visible{% endif %} error message">
                    <i class="life ring outline icon"></i>
                    <div class="content">
                        <div class="header">Vérifiez les clauses suivantes:</div>
                        <div class="ui list">
                            {% for error in user_form.is_active.errors %}
                                <div class="item">
                                    <i class="green check icon"></i>
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            {# Field: Is staff #}
            <div class="inline field {% if user_form.is_staff.errors %}error{% endif %}">
                <div class="ui checkbox">
                    <input type="checkbox" tabindex="0" class="hidden" id="{{ user_form.is_staff.id_for_label }}" name="{{ user_form.is_staff.html_name }}" {% if user_form.is_staff.value %}checked{% endif %}>
                    <label for="{{ user_form.is_staff.id_for_label }}">{{ user_form.is_staff.label }}</label>
                </div>
                <small class="helper">{{ user_form.is_staff.help_text }}</small>
                <div class="ui icon {% if user_form.is_staff.errors %}visible{% endif %} error message">
                    <i class="life ring outline icon"></i>
                    <div class="content">
                        <div class="header">Vérifiez les clauses suivantes:</div>
                        <div class="ui list">
                            {% for error in user_form.is_staff.errors %}
                                <div class="item">
                                    <i class="green check icon"></i>
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            {# Field: Is superuser #}
            <div class="inline field {% if user_form.is_superuser.errors %}error{% endif %}">
                <div class="ui checkbox">
                    <input type="checkbox" tabindex="0" class="hidden" id="{{ user_form.is_superuser.id_for_label }}" name="{{ user_form.is_superuser.html_name }}" {% if user_form.is_superuser.value %}checked{% endif %}>
                    <label for="{{ user_form.is_superuser.id_for_label }}">{{ user_form.is_superuser.label }}</label>
                </div>
                <small class="helper">{{ user_form.is_superuser.help_text }}</small>
                <div class="ui icon {% if user_form.is_superuser.errors %}visible{% endif %} error message">
                    <i class="life ring outline icon"></i>
                    <div class="content">
                        <div class="header">Vérifiez les clauses suivantes:</div>
                        <div class="ui list">
                            {% for error in user_form.is_superuser.errors %}
                                <div class="item">
                                    <i class="green check icon"></i>
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            {# Field: Groups #}
            <div class="field {% if user_form.groups.errors %}error{% endif %}">
                <label for="{{ user_form.groups.id_for_label }}">{{ user_form.groups.label }}</label>
                <select class="ui fluid search dropdown" multiple name="{{ user_form.groups.html_name }}" id="{{ user_form.groups.id_for_label }}">
                    {% for value, label in user_form.groups.field.choices %}
                        <option value="{{ value }}" {% if value in selected.group_ids %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
                <small class="helper">{{ user_form.groups.help_text }}</small>
                <div class="ui icon {% if user_form.groups.errors %}visible{% endif %} error message">
                    <i class="life ring outline icon"></i>
                    <div class="content">
                        <div class="header">Vérifiez les clauses suivantes:</div>
                        <div class="ui list">
                            {% for error in user_form.groups.errors %}
                                <div class="item">
                                    <i class="green check icon"></i>
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            {# Field: User permissions #}
            <div class="field {% if user_form.user_permissions.errors %}error{% endif %}">
                <label for="{{ user_form.user_permissions.id_for_label }}">{{ user_form.user_permissions.label }}</label>
                <select class="ui fluid search dropdown" multiple name="{{ user_form.user_permissions.html_name }}" id="{{ user_form.user_permissions.id_for_label }}">
                    {% for value, label in user_form.user_permissions.field.choices %}
                        <option value="{{ value }}" {% if value in selected.permission_ids %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
                <small class="helper">{{ user_form.user_permissions.help_text }}</small>
                <div class="ui icon {% if user_form.user_permissions.errors %}visible{% endif %} error message">
                    <i class="life ring outline icon"></i>
                    <div class="content">
                        <div class="header">Vérifiez les clauses suivantes:</div>
                        <div class="ui list">
                            {% for error in user_form.user_permissions.errors %}
                                <div class="item">
                                    <i class="green check icon"></i>
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            {# Form non-field errors #}
            {% if form.errors %}
                <div class="ui icon visible error message">
                    <i class="life ring outline icon"></i>
                    <div class="content">
                        <div class="header">Vérifiez les clauses suivantes:</div>
                        <div class="ui list">
                            {% for error in form.errors %}
                                <div class="item">
                                    <i class="green check icon"></i>
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if user_form.errors %}
                <div class="ui icon visible error message">
                    <i class="life ring outline icon"></i>
                    <div class="content">
                        <div class="header">Vérifiez les clauses suivantes:</div>
                        <div class="ui list">
                            {% for error in user_form.errors %}
                                <div class="item">
                                    <i class="green check icon"></i>
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}

            {# Field: Validation #}
            <div style="text-align: right">
                <div class="ui buttons w-100">
                    {% if cs_form_type == 'create' %}
                        <a href="{% url 'highschool:teacher-list' %}" class="ui button">Annuler</a>
                    {% else %}
                        <a href="{% url 'highschool:teacher-detail' teacher.id %}" class="ui button">Annuler</a>
                    {% endif %}
                    <div class="or" data-text="ou"></div>
                    <input class="ui positive button" type="submit" value="{% if cs_form_type == 'create' %}Créer{% else %}Mettre à jour{% endif %}">
                </div>
            </div>

        </form>
    </div>

{% endblock %}