{% extends "base.html" %}

{% block title %}Suppression de l'enseignant &laquo; {{ teacher.user.first_name }} {{ teacher.user.last_name|upper }} &raquo;{% endblock %}

{% block content %}

    {# Page title #}
    <div class="sixteen wide column">
        <h2 class="ui icon header d-block">
            <i class="male icon"></i>
            <div class="content">
                Suppression de l'enseignant &laquo; {{ teacher.user.first_name }} {{ teacher.user.last_name|upper }} &raquo;
                <div class="sub header">Supprimer définitivement un enseignant spécifique.</div>
            </div>
        </h2>
    </div>

    {# Warning #}
    <div class="sixteen wide column">
        <div class="ui icon warning message">
            <i class="exclamation triangle icon"></i>
            <div class="content">
                <div class="header">
                    Vous allez supprimer un enseignant, la suppression de cette enseignant implique :
                </div>
                <div class="ui list">
                    <div class="item">
                        <i class="check green icon"></i>
                        <div class="content">
                            La suppression <b>définitive et irréversible</b> de l'utilisateur lui-même
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# Form #}
    <div class="sixteen wide column">
        <form method="post" class="ui form">
            {% csrf_token %}
            <div class="ui buttons w-100">
                <a href="{% url 'highschool:teacher-detail' teacher.id %}" class="ui button">Annuler</a>
                <div class="or" data-text="ou"></div>
                <input type="submit" value="Supprimer" class="ui negative button">
            </div>
        </form>
    </div>
{% endblock %}

