{% extends "base.html" %}

{% block title %}Enseignant &laquo; {{ teacher.user.first_name }} {{ teacher.user.last_name|upper }} &raquo;{% endblock %}

{% block content %}

    {# Page title #}
    <div class="sixteen wide column">
        <h2 class="ui icon header d-block">
            <i class="male icon"></i>
            <div class="content">
                Enseignant &laquo; {{ teacher.user.first_name }} {{ teacher.user.last_name|upper }} &raquo;
                <div class="sub header">Visualiser et gérer un enseignant spécifique.</div>
            </div>
        </h2>
    </div>

    <div class="sixteen wide column">
        <h3 class="ui header dividing">Informations</h3>
    </div>

    {# Actions #}
    <div class="eight wide computer sixteen wide mobile column">
        <a href="{% url 'highschool:teacher-update' teacher.id %}" class="ui labeled icon button d-block">
            <i class="edit icon"></i>
            Mettre à jour
        </a>
    </div>
    <div class="eight wide computer sixteen wide mobile column">
        <a href="{% url 'highschool:teacher-delete' teacher.id %}" class="ui labeled icon negative button d-block">
            <i class="trash icon"></i>
            Supprimer
        </a>
    </div>

    {# Teacher informations #}
    <div class="sixteen wide column">
        <div class="ui middle aligned relaxed list">
            <div class="item">
                <i class="angle right icon"></i>
                <div class="content">
                    <div class="description">
                        <b>Nom d'utilisateur : </b> {{ teacher.user.username }}
                    </div>
                </div>
            </div>
            <div class="item">
                <i class="angle right icon"></i>
                <div class="content">
                    <div class="description">
                        <b>Date de naissance : </b> {{ teacher.birth_date }}
                    </div>
                </div>
            </div>
            <div class="item">
                <i class="angle right icon"></i>
                <div class="content">
                    <div class="description">
                        <b>Téléphone : </b> <a href="tel:{{ teacher.phone }}">{{ teacher.phone }}</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <i class="angle right icon"></i>
                <div class="content">
                    <div class="description">
                        <b>Adresse mail : </b> <a href="mailto:{{ teacher.user.email }}">{{ teacher.user.email }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}