{% extends "base.html" %}

{% block title %}Gestion des enseignants{% endblock %}

{% block content %}

    {# Page title #}
    <div class="sixteen wide column">
        <h2 class="ui icon header d-block">
            <i class="male icon"></i>
            <div class="content">
                Gestion des enseignants
                <div class="sub header">Visualiser et gérer les enseignants de l'établissement.</div>
            </div>
        </h2>
    </div>

    {# Actions #}
    <div class="sixteen wide column">
        <a href="{% url 'highschool:teacher-create' %}" class="ui labeled icon button d-block blue">
            <i class="plus icon"></i>
            Créer un enseignant
        </a>
    </div>

    {# List of all teachers #}
    {% if teacher_list.count > 0 %}
        <div class="sixteen wide column">
            <table class="ui sortable compact tablet stackable celled striped single line table">
                <thead>
                    <tr>
                        <th style="width: 100%">Nom</th>
                        <th>Matière</th>
                    </tr>
                </thead>
                <tbody>
                    {% for teacher in teacher_list %}
                        <tr>
                            <td>
                                <a href="{% url 'highschool:teacher-detail' teacher.id %}">
                                    <i class="icon {% if teacher.genre == 0 %}genderless{% elif teacher.genre == 1 %}mars{% else %}venus{% endif %}"></i>
                                    {{ teacher.user.first_name }} {{ teacher.user.last_name|upper }}
                                </a>
                            </td>
                            <td>
                                {% if teacher.subject %}
                                    <a href="{% url 'highschool:subject-detail' teacher.subject.id %}">{{ teacher.subject }}</a>
                                {% else %}
                                    Aucune
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include 'highschool/misc/pagination.html' with page_obj=page_obj %}
        </div>
    {% else %}
        <div class="sixteen wide column">
            <div class="ui icon warning message">
                <i class="exclamation triangle icon"></i>
                <div class="content">
                    <div class="header">Aucun enseignant existant !</div>
                    <p>Commencez par créer des enseignants.</p>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}