@import "responsive-helpers";

body {
  // Helpers
  .d-block {
    display: block !important;
  }

  .w-100 {
    width: 100%;
  }

  .ui.header.icon {
    i.icon {
      font-size: 45px !important;
    }
  }

  #sidebar.sidebar-menu {
    margin-top: 40px !important;
    max-height: calc(100% - 40px) !important;
    height: calc(100% - 40px) !important;

    @media (min-width: 768px) {
      visibility: visible;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      width: 15rem !important;
    }
  }

  @media (min-width: 768px) {
    .sidebar-menu-toggler {
      display: none !important;
    }
  }

  div.pusher {
    div.main-content {
      padding-top: 40px;

      @media (min-width: 768px) {
        margin-left: 15rem;
      }
    }
  }

  table {
    &#table-subject-list {
      a.subject-name {
        &::before {
          content: " ";
          width: 10px;
          height: 10px;
          display: inline-block;
          margin-right: 5px;
          background-color: var(--mat-color);
        }
      }
    }
  }
}

